<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>see drivers</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  DRIVER DETAILS</h1>
<h1>=====================</h1>
<br></br><br>
<h3>Driver 1: Currently is delivering some food.</h3><br>
<h3>Driver 2: Currently is delivering some food.</h3><br>
<h3>Driver 3: Currently has no car.</h3><br>
<h3>Driver 4: Currently is looking for a job.</h3>
</body>
</html>