<meta charset="ISO-8859-1">
<title>invoice</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  WEEKLY SALES</h1>
<h1>=====================</h1>
<br>
<h3>MONDAY: 657 sales for $34544</h3><br>
<h3>TUESDAY: 767 sales for $7677</h3><br>
<h3>WEDNESDAY: 7878 sales for $6666</h3><br>
<h3>THURSDAY: 9898 sales for $7677</h3><br>
<h3>FRIDAY: 7767 sales for $6555</h3><br>
<h3><input type="submit" value="Print"/></h3>
</body>
</html>