<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>kitchen</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  WHAT WE OFFER</h1>
<h1>=====================</h1>
<br></br><br>
<h3>We offer best pizza </h3><br>
<h3>We offer sweet cakes</h3><br>
<h3>We offer soft drinks</h3><br>
<h3>We offer to meet your needs</h3>
</body>
</html>