<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>drive</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3 a
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  WANT TO DRIVE FOR US</h1>
<h1>=====================</h1>
<br>
<h3> SEND YOUR CV THROUGH</h3><br>
<h3></h3><a href="http://www.facebook.com" target="blank" title="facebook">facebook</a><br>
<a href="http://www.gmail.com" target="blank" title="gmail">Email</a><br>
<a href="http://www.whatsapp.com" target="blank" title="whatsapp">Whatsapp</a><br>


</body>
</html>