<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>see orders</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  ORDERS DETAILS</h1>
<h1>=====================</h1>
<br></br><br>
<h3>CLIENT 1: Has places order for 5 pizza.</h3><br>
<h3>CLIENT 2: His food has been delivered.</h3><br>
<h3>CLIENT 3: Send a complain.</h3><br>
<h3>CLIENT 4: Paid via ecocash.</h3>
</body>
</html>