<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>paying</title>
</head>
<style>
body
{
 background-image: url(picture.jpg);
}
h1
{
  text-align: center;
}
h3 a
{
  text-align: center;
}
</style>
<body>
<h1>=====================</h1>
<h1>  YOU CAN PAY US WITH</h1>
<h1>=====================</h1>
<br>
<h3> PAY WITH</h3><br>
<h3></h3><a href="http://www.facebook.com" target="blank" title="facebook">ECOCASH</a><br>
<a href="http://www.gmail.com" target="blank" title="gmail">SWIP</a><br>
<a href="http://www.whatsapp.com" target="blank" title="whatsapp">USD$$</a><br>
<a href="http://www.youtube.com" target="blank" title="our videos">ZIM$$</a><br>

</body>
</html>