<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>our_staff</title>
</head>
<style>
body
{
background-image: url(emp1.jpg);
}
h1
{
   text-align: center;
   color: white;
}
</style>
<body>
<br></br><br></br><br></br><br></br><br></br>
<br></br><br></br><br></br><br></br><br></br>
<br></br><br></br><br></br><br></br><br></br>
<h1><a href="http://www.whatsapp.com" target="blank" title="whatsapp">send your cv</a></h1><br></br>

</body>
<footer><h1>OUR EMPLOYEES</h1></footer>
</html>